 
.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:hover {
    background-color: #51135e5e;
    color: white;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }

  a {
    color:aqua;
    text-decoration: none;
  }

  h1 {
    color: white;
    text-align: center;
  }

  button {
    font: inherit;
    color: white;
    background-color: #4f005f;
    border: 1px solid orange;
    padding: 10px;
    font-size: 15px;
    margin: 10px 10px 10px 0;
  }