body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-family: sans-serif;
  background-image: url('https://images.squarespace-cdn.com/content/v1/5de1ae65065f5b7bc758692f/1576659364267-2UBYJWWG1FMYVDLBZE1G/Neon_Ferns-Clean.jpg?format=2500w');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  background-position: fixed;
}